<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KanbanBoard.DAL.Properties.Settings.KanbanBoardDB"
            connectionString="Server=.;Database=KanbanBoard;User Id=sa;
Password=123;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>